body{
 	background-color: #fff;
 }
 .bg{
 	background:linear-gradient(to bottom,#fff 98%,#f1f1f1);
 }
 @media screen and (max-width: 400px) {

  .navbar-brand{

   margin-left: -3px;

  }

}
.nav-item a:hover{
  color:#a83432!important; 
  text-decoration: underline;
}
.shop .container-fluid{
	background:linear-gradient(rgba(143, 179, 133,0.5),rgba(147, 179, 133,0.9),rgba(147, 199, 133,1));
	margin-top:70px;
	height: 300px;

}
h4{
	font-family: 'Libre Baskerville', serif;
   color:#fff;
     font-size: 30px;
}
.shop span{
	font-family: 'Libre Baskerville', serif;
   color:#fff;
   font-size: 80px;
}
@media screen and (max-width: 500px) {
	.shop .container-fluid{
	background:linear-gradient(rgba(143, 179, 133,0.5),rgba(147, 179, 133,0.9),rgba(147, 199, 133,1));
	margin-top:70px;
	height: 300px;

      }
      h4{
	font-family: 'Libre Baskerville', serif;
   color:#fff;
     font-size: 20px;
}
.shop span{
	font-family: 'Libre Baskerville', serif;
   color:#fff;
   font-size: 50px;
}

}
.se .col-md-6{
	
	margin-top: 80px;
}
.se input{
width: 400px;
border-radius:20px;
border:1px solid grey;
}
.se select{
	border:none;
	width: 300px;
}

@media screen and (max-width: 500px) {
	.se input{
   width: 300px;
}
}
.buy{
	
	margin-top: 80px;
}
.buy .row{

	margin-bottom: 30px;
}
 .sub input{
          	padding:8px;
          	width: 380px;
          	border-top-left-radius: 20px;
          	border-bottom-left-radius: 20px;
          	border:none;
          }
          .sub button{
          	border-top-right-radius: 20px;
          	border-bottom-right-radius: 20px;
          	padding: 8px;
          	margin-left: -11px;
          	margin-top:-5px; 
          }
           @media screen and (max-width: 500px) and (min-width: 400px){
           	.s .container-fluid{
           		
           		height: 1000px;
           	}
            .sub input{
          	padding:8px;
          	width: 280px;
          	border-top-left-radius: 20px;
          	border-bottom-left-radius: 20px;
          	border:none;
          
          }
          .sub button{
          	border-top-right-radius: 20px;
          	border-bottom-right-radius: 20px;
          	padding: 8px;
          	margin-left: -11px;
          	margin-top:-4px; 
          }
           }
          @media screen and (max-width: 400px) and (min-width: 200px){
          	.s .container-fluid{
           		
           		height: 1000px;
           	}
            .sub input{
          	padding:8px;
          	width: 180px;
          	border-top-left-radius: 20px;
          	border-bottom-left-radius: 20px;
          	border:none;
          	
          }
          .sub button{
          	border-top-right-radius: 20px;
          	border-bottom-right-radius: 20px;
          	padding: 8px;
          	margin-left: -11px;
          	margin-top:-4px; 

          }
           }
           @media screen and (min-width: 600px){
          	.s .container-fluid{
           		
           		height: 500px;
           	}
           }
             @media screen and (max-width: 590px) and (min-width: 510px){
             		.s .container-fluid{
           		
           		    height: 900px;
           	  }
             }
              .footer .col-md-4{
              	padding:20px;
              	font-size: 20px;
              }
              .footer .col-md-3{
              	padding:20px;
              	font-size: 20px;
              }
              .footer .col-md-5{
              	padding:20px;
              }